@charset "UTF-8";


header {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffcccc;
}

footer {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffccff
}

#wrapper {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

#main {
    width: 700px;
    margin: 0 auto;
    background-color: #ccffcc

}

#menu {
    width: 300px;
    margin: 0 auto;
    background-color: #ccccff

}









